.mini-circle {
    border-right: 40px solid #645E5E;
    border-top: 40px solid #645E5E;
    border-top-right-radius: 150px;
    margin-right: 66px;
    padding-left: 92px;
    padding-bottom: 92px;
}